{% extends 'base.html' %}
{% block main %}

<style>
    .list-title {
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        white-space: nowrap;
        display:block;
        font-size: 13px;
        width: 275px;
        height:18px;
        line-height: 18px;
        word-wrap: normal;
        float: left;
        margin-left: 5px;
        background-color: rgba(255,247,255,0);
    }
    .list-date {
        height:18px;
        line-height: 18px;
        font-size: 12px;
        float: right;
        width: 75px;
        color: #999;
    }
    .li-art{
        width:390px;
    }
    .list-pan{
        width: 400px;
        margin-top: 20px;
        margin-left: 5px;
        float:left;
        height: 550px;

    }
    .panel-body img{
        margin-left: -10px;
        margin-top: -10px;
        margin-bottom: 5px;
        width:390px;
        height: 140px;
    }
    .col3{
        width: 350px;
        margin-left: 5px;
    }
    .tab-content{
        background-color:#fff ;
        height: 510px;
        border: 1px #ddd solid;
        border-top:0px;
    }
    #randomart{
        width:350px;

        padding-left: 5px;
    }
    .li-rand{
        width: 355px;
    }
    .randtitle{
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        white-space: nowrap;
        display:block;
        font-size: 13px;
        width: 235px;
        height:18px;
        line-height: 18px;
        word-wrap: normal;
        float: left;
        margin-left: 5px;
        background-color: rgba(255,247,255,0);
    }
    .col1{
        width: 820px;
        float: left;
    }
    .col2{
        width: 350px;
        float: left;
    }
    .li-name{
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        white-space: nowrap;
        display:block;
        font-size: 13px;
        width: 60px;
        height:18px;
        line-height: 18px;
        word-wrap: normal;
        font-weight: bold;
        float: left;
    }
.row a:link { color: rgba(31,30,31,0.95)}     /* 未访问的链接 */
.row a:visited { color: rgba(31,30,31,0.95) }  /* 已访问的链接 */
.row a:hover {color: coral;}    /* 当有鼠标悬停在链接上 */
.row a:active {}   /* 被选择的链接 */
</style>
<script>
$(function () {
     ajaxRandomArt();
     setInterval("ajaxRandomArt()",20000);
});
$('#myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
$('#myTabs a[href="#profile"]').tab('show') // Select tab by name
$('#myTabs a:first').tab('show') // Select first tab
$('#myTabs a:last').tab('show') // Select last tab
$('#myTabs li:eq(2) a').tab('show') // Select third tab (0-indexed)
</script>
<div class="row">
<div class="col1">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="../static/images/newyear.jpg" alt="...">
            <div class="carousel-caption">
            ...
            </div>
        </div>

        <div class="item">
            <img src="../static/images/newyear.jpg" alt="...">
            <div class="carousel-caption">
            <h3>...</h3>
            <p>...</p>
            </div>
        </div>
        <div class="item">
            <img src="../static/images/newyear.jpg" alt="...">
            <div class="carousel-caption">
            <h3>...</h3>
            <p>...</p>
            </div>
        </div>
    </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="panel panel-default list-pan">
    <div class="panel-heading">
        <h3 class="panel-title">工具软件<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true" style="float: right"></span></h3>
    </div>
    <div class="panel-body">
        <img src="../static/images/timthumb.jpg">
    <ul class="list-inline">
    {% for con in software  %}
        <li class="li-art" onclick="getaId('{{ con.aId }}'),ajaxShowContent()" data-toggle="modal" data-target="#myModal">
            <i class="icon-chevron-right" ></i>
            <span class="glyphicon glyphicon-chevron-right" style="float: left" aria-hidden="true"></span>
            <a href="#"><span class="list-title" >{{ con.title }}</span>
            <span class="list-date">{{ con.time }}</span></a>
        </li>
    {% endfor %}
    </ul>
    </div>
</div>
<div class="panel panel-default list-pan">
    <div class="panel-heading">
        <h3 class="panel-title">业界资讯<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true" style="float: right"></span></h3>

    </div>
    <div class="panel-body">
        <img src="../static/images/index-3.jpg">
        <ul class="list-inline">
        {% for con in news  %}
            <li class="li-art" onclick="getaId('{{ con.aId }}'),ajaxShowContent()" data-toggle="modal" data-target="#myModal">
                <i class="icon-chevron-right" ></i>
                <span class="glyphicon glyphicon-chevron-right" style="float: left" aria-hidden="true"></span>
                <a href="#"><span class="list-title" >{{ con.title }}</span>
                <span class="list-date">{{ con.time }}</span></a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
</div>
<div class="col2">
<div class="col3" >
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">随机推荐</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">近期评论</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home"> <ul class="list-inline" id="randomart"></ul></div>
    <div role="tabpanel" class="tab-pane" id="profile"><p>阿斯大苏打</p></div>
    <div role="tabpanel" class="tab-pane" id="messages">
        <ul class="list-inline">
            {% for nc in newcomment %}
                <li class="li-rand" onclick="getaId('{{ nc.aId }}'),ajaxShowContent()" data-toggle="modal" data-target="#myModal">
                    <span class="li-name">{{ nc.username }}</span>
                    <a href="#" class="list-title"><span>{{ nc.content }}</span></a></li>

            {% endfor %}

        </ul>

    </div>
    <div role="tabpanel" class="tab-pane" id="settings"><p>阿萨德等等等等</p></div>
  </div>

</div>

</div>


</div>

{% endblock %}